.scroll-up {
	position: fixed;
	right:0;
	bottom:0;
	padding: 10px;
	margin: 10px;
	background-color: gray;
	border-radius: 200%;
	border: 3px solid #73AD21;
}

.half {
	width: 49%;
	display: inline-block;
}

.link {
	color: blue;
	text-decoration: underline;
}

.removeForm {
	display: inline;
	border:0;
	background-color: #fff;
}